{% extends 'base.html' %}

{% block title %}
    Избранное
{% endblock %}

{% block content %}
<!--<div class="main-container container">-->
<!--    <div class="row">-->
<!--        &lt;!&ndash;Middle Part Start&ndash;&gt;-->
<!--    <div id="content" class="col-sm-12">-->
<!--      <h2 class="title">Избранное</h2>-->
<!--      <br>-->
<!--        <div class="table-responsive form-group">-->
<!--          <table class="table table-bordered">-->
<!--            <thead>-->
<!--              <tr>-->
<!--                <td class="text-center">Фото</td>-->
<!--                <td class="text-left">Название товара</td>-->
<!--                <td class="text-left">Количество</td>-->
<!--                <td class="text-right">Цена за товар</td>-->
<!--              </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            {% for product in favorites %}-->
<!--                  <tr>-->
<!--                    <td class="text-center"><a href="product.html"><img width="70px" src="{{ product.image.url }}" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail" /></a></td>-->
<!--                    <td class="text-left">-->
<!--                        <a href="{% url 'product_detail_url' product.slug %}">-->
<!--                            {{ product.title }}-->
<!--                        </a>-->
<!--                    </td>-->
<!--                    <td class="text-right">{{ product.price }}</td>-->
<!--                    <td class="text-right">-->
<!--                        <a href="{% url 'add_favorites' product.id %}">-->
<!--                            <button type="button" class="btn btn-danger">-->
<!--                                Удалить-->
<!--                            </button>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--            {% endfor %}-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--    &lt;!&ndash;Middle Part End &ndash;&gt;-->
<!--        -->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; //Main Container &ndash;&gt;-->

<!-- Nav -->



<!-- Main -->

<div class="container favoritesRow">
  {% for product in products %}
  <div class="col-md-4 col-xs-6">
    <div class="product">
      <div class="product-img">
      <a href="{% url 'product_detail_url' product.slug %}">
        <div class="product-label">
          {% if product.discount %}
            <span class="new">-{{ product.discount }}%</span>
          {% endif %}
        </div>
          <img class="image" src="{{ product.image.url }}" alt="404">
          
        </div>
      </a>
      <div class="product-body">
        <a href="{% url 'category_list' product.category.slug %}"><p class="product-category">{{ product.category }}</p></a>
        <a href="{% url 'product_detail_url' product.slug %}"><h3 class="product-name">{{ product.title }}</h3></a>
        {% if product.discount %}
          <h4 class="product-price">{{ product.price_with_discount }} сом<del class="product-old-price">{{ product.price }} сом</del></h4>
        {% else %}
          <h4 class="product-price">{{ product.price }} сом</h4>
        {% endif %}
        <div class="product-rating">
        {% if product.simple_star == 5%}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        {% endif %}
        {% if product.simple_star >= 4 and product.simple_star < 5 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o "></i>
        {% endif %}
        {% if product.simple_star >= 3 and product.simple_star < 4 %}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        {% endif %}
        {% if product.simple_star >= 2 and product.simple_star < 3%}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        {% endif %}
        {% if product.simple_star >= 1 and product.simple_star < 2%}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        {% endif %}
        {% if product.simple_star == 0%}
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        {% endif %}
        </div>
        <div class="product-btns">
          {% if request.user in product.favorites.all %}
            <button class="add-to-wishlist"><a href="{% url 'add_favorites' product.id %}"><i class="fa fa-heart"></i><span class="tooltipp">Удалить из избранного</span></a></button>
          {% else %}
            <button class="add-to-wishlist"><a href="{% url 'add_favorites' product.id %}"><i class="fa fa-heart-o"></i><span class="tooltipp">Добавить в избранное</span></a></button>
          {% endif %}
          <button class="quick-view"><a href="{% url 'product_detail_url' product.slug %}"><i class="fa fa-eye"></i><span class="tooltipp">Детальная информация</span></a></button>
         </div>
        </div>
        <div class="add-to-cart">
          <a href="{% url 'add_cart_url' product.id %}">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Добавить в Корзину</button>
          </a>

        </div>
    </div>
</div>
{% endfor %}
    </div>







 <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">

        </table>
        <div>Total price: $<span class="total-cart"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Order now</button>
      </div>
    </div>
  </div>
</div>

<!-- //Main Container -->
<br>
{% endblock %}